<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yoonho.holostats.repositories.FileRepository">
    <insert id="insertFile" useGeneratedKeys="true" keyProperty="fileId" parameterType="com.yoonho.holostats.models.DbFile">
        INSERT INTO TB_FILE(
                            FILE_TYPE,
                            FILE_PATH,
                            FILE_URL,
                            FILE_NAME,
                            FILE_EXT,
                            FILE_SIZE
        ) VALUES (
                            #{file.fileType},
                            #{file.filePath},
                            #{file.fileUrl},
                            #{file.fileName},
                            #{file.fileExt},
                            #{file.fileSize}
        )
    </insert>
</mapper>