<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yoonho.holostats.repositories.RefreshTokenRepository">
    <insert id="insertRefreshToken" parameterType="com.yoonho.holostats.models.RefreshToken">
        INSERT INTO TB_REFRESH_TOKEN (
            REFRESH_TOKEN_ID,
            REFRESH_TOKEN,
            MEMBER_ID
        ) VALUES (
            #{refreshToken.refreshTokenId},
            #{refreshToken.refreshToken},
            #{refreshToken.memberId}
        )
    </insert>

    <select id="getRefreshTokenByMemberId" resultType="com.yoonho.holostats.models.RefreshToken">
        SELECT
            `REFRESH_TOKEN_ID`    AS `refreshTokenId`,
            `REFRESH_TOKEN`       AS `refreshToken`,
            `MEMBER_ID`           AS `memberId`
        FROM TB_REFRESH_TOKEN
        WHERE 1=1
        AND `MEMBER_ID` = #{memberId}
        </select>

    <update id="updateRefreshToken" parameterType="com.yoonho.holostats.models.RefreshToken">
        UPDATE  TB_REFRESH_TOKEN
        SET     REFRESH_TOKEN = #{refreshToken.refreshToken}
        WHERE 1=1
        AND     MEMBER_ID = #{refreshToken.memberId}
    </update>
</mapper>