<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yoonho.holoboard.repositories.MemberRepository">

    <select id="getMemberById" resultMap="memberResult">
        <include refid="member"/>
        WHERE 1=1
        AND
            MEMBER_ID = #{memberId}
    </select>

    <select id="getMemberByName" resultMap="memberResult">
        <include refid="member"/>
        WHERE 1=1
          AND
            MEMBER_NAME = #{memberName}
    </select>

    <sql id="member">
        SELECT
            TM.MEMBER_ID           AS memberID,
            TM.MEMBER_NAME         AS memberName,
            TM.MEMBER_NICKNAME     AS memberNickName,
            TM.MEMBER_PASSWORD     AS memberPassword,
            TM.MEMBER_THUMBNAIL_ID AS memberThumbnailId,
            TM.MEMBER_STATUS       AS memberStatus,
            TM.MEMBER_ROLE         AS memberRole,
            TM.CREATE_TIME         AS createTime,
            TM.UPDATE_TIME         AS updateTime,

            TF.FILE_ID             AS t_fileId,
            TF.FILE_URL            AS t_fileUrl
        FROM TB_MEMBER          AS TM
        LEFT JOIN TB_FILE TF
        ON TM.MEMBER_THUMBNAIL_ID = TF.FILE_ID
    </sql>

    <resultMap id="memberResult" type="com.yoonho.holoboard.models.Member">
        <id property="memberId" column="memberId"/>
        <result property="memberName" column="memberName"/>
        <result property="memberNickName" column="memberNickName"/>
        <result property="memberPassword" column="memberPassword"/>
        <result property="memberThumbnailId" column="memberThumbnailId"/>
        <result property="memberStatus" column="memberStatus"/>
        <result property="memberRole" column="memberRole"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
        <association property="memberThumbnailFile" column="t_fileId" javaType="com.yoonho.holoboard.models.DbFile" resultMap="fileResult"/>
    </resultMap>

    <resultMap id="fileResult" type="com.yoonho.holoboard.models.DbFile">
        <id property="fileId" column="t_fileId"/>
        <result property="fileUrl" column="t_fileUrl"/>
    </resultMap>

    <insert id="insertMember" useGeneratedKeys="true" keyProperty="memberId" parameterType="com.yoonho.holoboard.models.Member">
        INSERT INTO TB_MEMBER(
            MEMBER_NAME,
            MEMBER_NICKNAME,
            MEMBER_PASSWORD,
            MEMBER_THUMBNAIL_ID,
            MEMBER_STATUS,
            MEMBER_ROLE
        )
        VALUES (
            #{member.memberName},
            #{member.memberNickName},
            #{member.memberPassword},
            #{member.memberThumbnailId},
            #{member.memberStatus},
            #{member.memberRole}
        )
    </insert>

    <update id="updateMember" parameterType="com.yoonho.holoboard.models.Member">
        UPDATE TB_MEMBER
        SET
            MEMBER_THUMBNAIL_ID = #{member.memberThumbnailId},
            MEMBER_NICKNAME = #{member.memberNickName},
            MEMBER_STATUS = #{member.memberStatus},
            MEMBER_PASSWORD = #{member.memberPassword},
            UPDATE_TIME = CURRENT_TIMESTAMP
        WHERE
            MEMBER_ID = #{member.memberId}
    </update>
</mapper>