<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yoonho.holostats.repositories.MemberRepository">

    <select id="getMemberById" resultType="com.yoonho.holostats.models.Member">
        <include refid="member"/>
        WHERE 1=1
        AND
            MEMBER_ID = #{memberId}
    </select>

    <select id="getMemberByName" resultType="com.yoonho.holostats.models.Member">
        <include refid="member"/>
        WHERE 1=1
          AND
            MEMBER_NAME = #{memberName}
    </select>

    <sql id="member">
        SELECT
            MEMBER_ID           AS memberID,
            MEMBER_NAME         AS memberName,
            MEMBER_NICKNAME     AS memberNickName,
            MEMBER_PASSWORD     AS memberPassword,
            MEMBER_THUMBNAIL_ID AS memberThumbnailId,
            MEMBER_STATUS       AS memberStatus,
            MEMBER_ROLE         AS memberRole,
            CREATE_TIME         AS createTime,
            UPDATE_TIME         AS updateTime
        FROM TB_MEMBER
    </sql>

    <insert id="insertMember" useGeneratedKeys="true" keyColumn="memberId" parameterType="com.yoonho.holostats.models.Member">
        INSERT INTO TB_MEMBER(
            MEMBER_NAME,
            MEMBER_NICKNAME,
            MEMBER_PASSWORD,
            MEMBER_THUMBNAIL_ID,
            MEMBER_STATUS,
            MEMBER_ROLE
        )
        VALUES (
            #{member.memberName},
            #{member.memberNickName},
            #{member.memberPassword},
            #{member.memberThumbnailId},
            #{member.memberStatus},
            #{member.memberRole}
        )
    </insert>
</mapper>