<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yoonho.holoboard.repositories.liveStream.LiveStreamStatisticsRepository">
    <insert id="insertLiveStreamStatistics" parameterType="com.yoonho.holoboard.models.liveStream.LiveStreamStatistics">
        INSERT INTO TB_LS_STATISTICS (
                                      LS_ID,
                                      CONCURRENT_VIEWER
        )
        VALUES (
                #{liveStreamStatistics.lsId},
                #{liveStreamStatistics.concurrentViewer}
               )
    </insert>

    <select id="getAvgViewer" resultType="Integer">
        SELECT AVG(CONCURRENT_VIEWER)
        FROM TB_LS_STATISTICS
        GROUP BY LS_ID
        HAVING LS_ID = #{lsId}
    </select>
</mapper>