<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yoonho.holoboard.repositories.ChannelRepository">

    <insert id="upsertChannels">
        INSERT INTO TB_CHANNEL(CHANNEL_NAME, CHANNEL_YT_ID, CHANNEL_YT_NAME, CHANNEL_YT_THUMBNAIL, CHANNEL_UPLOAD_ID, CHANNEL_STATUS) VALUES
        <foreach collection="channels" item="channel" separator=",">
        (#{channel.channelName}, #{channel.channelYtId}, #{channel.channelYtName}, #{channel.channelYtThumbnail}, #{channel.channelUploadId}, #{channel.channelStatus})
        </foreach>
        ON DUPLICATE KEY UPDATE CHANNEL_YT_ID = VALUES(CHANNEL_YT_ID),
                                CHANNEL_STATUS = VALUES(CHANNEL_STATUS),
                                CHANNEL_YT_NAME = VALUES(CHANNEL_YT_NAME),
                                CHANNEL_YT_THUMBNAIL = VALUES(CHANNEL_YT_THUMBNAIL),
                                CHANNEL_UPLOAD_ID = VALUES(CHANNEL_UPLOAD_ID),
                                UPDATE_TIME = CURRENT_TIMESTAMP;
    </insert>

    <select id="getChannelListByStatus" resultType="com.yoonho.holoboard.models.Channel">
        SELECT
            CHANNEL_ID              AS channelId,
            CHANNEL_NAME            AS channelName,
            CHANNEL_YT_ID           AS channelYtId,
            CHANNEL_YT_NAME         AS channelYtName,
            CHANNEL_YT_THUMBNAIL    AS channelYtThumbnail,
            CHANNEL_UPLOAD_ID       AS channelUploadId,
            CHANNEL_STATUS          AS channelStatus,
            CREATE_TIME             AS createTime,
            UPDATE_TIME             AS updateTime
        FROM
            TB_CHANNEL
        WHERE 1=1
        AND
            CHANNEL_STATUS = #{channelStatus}
    </select>

</mapper>